* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(228, 238, 238);
    font-family: 'Inter';
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Inter/static/Inter_18pt-Regular.ttf') format('trueType'); 
}
/* manrope-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/Inter/static/Inter_18pt-Bold.ttf') format('trueType'); 
}
/* manrope-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/Inter/static/Inter_18pt-ExtraBold.ttf') format('trueType'); 
}
