@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Inter/static/Inter_18pt-Regular.ttf') format('trueType'); 
}
/* manrope-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/Inter/static/Inter_18pt-Bold.ttf') format('trueType'); 
}
/* manrope-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/Inter/static/Inter_18pt-ExtraBold.ttf') format('trueType'); 
}

.hero {
    margin-top: 150px;
    width: 1100px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h2 {
  font-family: 'Inter';
  font-size: 60px;
  margin-top: 0px;
  padding-top: 0px;
  font-weight: 800;
  letter-spacing: 0px;
}

.hero span {
  font-family: 'Manrope';
  width: 620px;
  text-align: center;
  margin-top: 20px;
  color: gray;
}

.hero div {
  display: flex;
  margin-top: 40px;
  width: 500px;
  justify-content: space-between;
  
}

.hero p {
  font-family: 'Manrope';
  padding: 20px 30px;
  border-radius: 10px;
  cursor: pointer;
}


.piepagina {
  margin-top: 100px;
  font-family: 'Manrope';
  display: flex;
  width: 1100px;
  justify-self: center;
  justify-content: space-between;
}

.piepaginabloq {
  border: 1px solid rgb(216, 216, 216);
  width: 360px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.piepaginabloq div {
  margin-left: 20px;
  margin-top: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #d5e0fc;
}

.piepaginabloq P {
  margin-top: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 10px;
}

.piepaginabloq span {
  font-size: 15px;
  width: 340px;
  align-self: center;
  margin-left: 10px;
  margin-bottom: 20px;
}

.ref {
  text-decoration: none;
  color: inherit;
}

.im {
  background-color: #d5e0fc;
}